/JavaApplication32/nbproject/private/
/World of Zuul/nbproject/private/
/SemesterProjekt1/nbproject/private/private.xml
/SemesterProjekt1/nbproject/private/private.properties
/JavaApplication34/nbproject/private/
/JavaApplication34/build/
/SemesterProjekt1/build/
