/JavaApplication32/nbproject/private/
/World of Zuul/nbproject/private/
/SemesterProjekt1/nbproject/private/private.xml
/SemesterProjekt1/nbproject/private/private.properties
/JavaApplication34/nbproject/private/
/JavaApplication34/build/
/SemesterProjekt1/build/
/SemesterProjekt1/dist/
/SemesterProjekt1/nbproject/private/
.DS_Store
/SemesterProjekt1/.DS_Store/
/SemesterProjekt1/src/.DS_Store/
/SemesterProjekt1/src/presentation/.DS_Store/
